body {
  background-color: skyblue;
  background-image: url("./images/brewdog_banner.png");
  text-align: center;
}

img {
  width: 10%;
  height: auto;
  padding-top: 15px;
}

h1 {
color: darkred;
font-family: helvetica;
text-transform: uppercase;
}

h3 {
color: darkgreen;
}
