body {
  background-color: skyblue;
  background-image: url("./images/brewdog_banner.png");
  text-align: center;
}

img {
  width: 10%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  padding-bottom: 5px;
  color: darkred;
  font-family: Merriweather;
  text-transform: uppercase;
}

h2 {
  color: white;
}

h3 {
  color: darkgreen;
  text-transform: uppercase;
}

select#beers {
  cursor: pointer;
  width: 150px;
}

h5 {
  font-family: optima, sans-serif;
  color: black;
  background-color: white;
  background-clip: content-box;
  padding-left: 250px;
  padding-right: 250px;
}
.clock {
  color: #ffffcc;
  text-align:right;
  width:auto;
  height:auto;
}

.primary {
  color: #ffffcc;
}
label.primary {
  padding-top: 2px;
}
